/DisenoTiendaRopa/target/
/ObjetosNegocio/target/
/EscanearProductoSubsystem/target/
/RealizarVentaSubsystem/target/
/MetodoPagoSubsystem/target/
/AumentarVentaEmpleado/target/
/GUIsCUI/target/
/GeneradorCodigoBarrasSubsystem/target/
DisenoTiendaRopa/Persistencia/target/classes/Exceptions/DAOException.class
*.class
/DisenoTiendaRopa/Persistencia/target
